.file {
  visibility: hidden;
  position: absolute;
}

/*
 * Styles for demo only
 */
$light: #36424A;

.container {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 0px;
}
.btn.btn-primary {
  background-color: $light;
  border-color: $light;
  outline: none;
  &:hover {
    background-color: darken($light, 10%);
    border-color: darken($light, 10%);
  }
  &:active, &:focus {
    background-color: lighten($light, 5%);
    border-color: lighten($light, 5%);
  }
}